<?xml version="1.0" encoding="utf-8"?>
<!-- An explicit config seemingly required to resolve this issue: https://github.com/actions/setup-dotnet/issues/155#issuecomment-761195782 -->
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
